.btn {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 2em;
    border-radius: 15px;
    height: 65px;

    display: grid;
    align-content: center;

    cursor: pointer;
}

.fixed {
    position: fixed;
    top: 6em;
    left: 0;

    width: calc(100% - 30px);
    margin: 16px 0 16px 16px;
}