/* 
----------------------------------------------------------------
						Colors
----------------------------------------------------------------
*/

:root {
  --background-main: #EC9D09;
  --background-header: #102442;
  --accent: #1C5FC3;
  --accent2: #B97E0E;
  --accent3: #B0C6E5;
  --bodycopy: #555;
}